<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-list">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-create">Create</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container">
  <h1>My First Bootstrap Page</h1>
  <p>This is some text.</p>

  <h2>Textareas</h2>
  <!--Normal text area-->
  <textarea rows="5" cols="100"></textarea>
<!--kendoTextArea using library we change height of textarea also-->
  <p><strong>resize vertically using library:</strong> <textarea autosize cols="1" class="textarea" rows="5"></textarea></p>
  bbbbbbsdsdkadkasdkasdjkasdasndjkasdkasndasndnasmdns,andasjdmnsadknaskjdnaskjdnsakjdnaskjndjksandm sakdnaskjdnsdnasm,ndjansdm,nasd,jnasm,dnas,ndm,asndmasndm,sandjsajdnasm,na
  <p><strong>Solution with span:</strong> <span class="textarea" role="textbox" contenteditable></span></p>
</div>